<div class="min-h-screen bg-gray-100 flex flex-col items-center font-open  overflow-x-hidden">
  <!-- Hero -->
  <!-- <div
    class="relative h-[550px] w-full mb:10 pb-16 text-mygrey1 px-8 flex flex-col items-center justify-center overflow-x-hidden"
  >
    <h1
      *ngIf="isUnitService"
      class="z-10 text-4xl font-paytone text-center max-w-[600px] mb-12"
    >
      Paiement immédiat, unique et sans abonnement
    </h1>
    <h1
      *ngIf="!isUnitService"
      class="z-10 text-4xl font-paytone text-center max-w-[600px] mb-12"
    >
      Paiement au succès, en co-mandat et sans abonnement
    </h1>
    <p
      *ngIf="isUnitService"
      class="z-10 text-lg md:text-xl leading-relaxed mb-12 md:w-3/4 text-center"
    >
      La solution simple, efficace et sans contrainte !
    </p>
    <p
      *ngIf="!isUnitService"
      class="z-10 text-lg md:text-xl leading-relaxed mb-12 md:w-3/4 text-center"
    >
      Une solution flexible, sans risque et 100 % axée sur votre succès !
    </p>
    <div class="p-2 z-10 bg-white rounded-full cursor-pointer">
      <div
        (click)="toggleService()"
        class="relative bg-mygrey5 w-full flex items-center justify-between rounded-full text-center"
      >
        <span
          id="toggle-option"
          [ngClass]="{
            'absolute w-1/2 h-full bg-myyellow1 rounded-full transition-all ease-in-out':true,
            'translate-x-0': isUnitService,
            'translate-x-full': !isUnitService,
            }"
        >
        </span>
        <p
          class="z-10 md:whitespace-nowrap w-1/2 text-center py-4 px-1.5 md:px-10 rounded-full"
        >
          Paiement immédiat
        </p>
        <p
          class="z-10 md:whitespace-nowrap w-1/2 text-center py-4 px-5 md:px-10 rounded-full"
        >
          Paiement au succès
        </p>
      </div>
    </div>

    <div
      class="absolute bg-[url(assets/img/photo/photo5.jpg)] -top-20 left-1/2 w-[140%] h-[550px] transform -translate-x-1/2 -rotate-3"
    ></div>
    <div
      class="absolute -top-20 left-1/2 w-[140%] h-[550px] bg-white opacity-50 transform -translate-x-1/2 -rotate-3"
    ></div>
  </div> -->

  <div class="relative h-[700px] w-full mb:10 pb-16 text-mygrey1 mb-12">
    <div class="bg-white opacity-60 absolute inset-0 w-full h-full"></div>
    <span class="absolute z-10 h-[140px] w-[120%] -rotate-3 -bottom-10 bg-gray-100"></span>
    <div
      class="bg-[url(assets/img/photo/photo4.jpg)] h-[700px] bg-cover bg-center w-full flex flex-col items-center justify-center overflow-x-hidden"
    >
      <h1
        *ngIf="isUnitService"
        class="z-10 text-4xl font-paytone text-center max-w-[600px] mb-12"
      >
        Paiement immédiat, unique et sans abonnement
      </h1>
      <h1
        *ngIf="!isUnitService"
        class="z-10 text-4xl font-paytone text-center max-w-[600px] mb-12"
      >
        Paiement au succès, en co-mandat et sans abonnement
      </h1>
      <p
        *ngIf="isUnitService"
        class="z-10 text-lg md:text-xl leading-relaxed mb-12 md:w-3/4 text-center"
      >
        La solution simple, efficace et sans contrainte !
      </p>
      <p
        *ngIf="!isUnitService"
        class="z-10 text-lg md:text-xl leading-relaxed mb-12 md:w-3/4 text-center"
      >
        Une solution flexible, sans risque et 100 % axée sur votre succès !
      </p>
      <div class="p-2 z-10 bg-white rounded-full cursor-pointer">
        <div
          (click)="toggleService()"
          class="relative bg-mygrey5 w-full flex items-center justify-between rounded-full text-center"
        >
          <span
            id="toggle-option"
            [ngClass]="{
          'absolute w-1/2 h-full bg-myyellow1 rounded-full transition-all ease-in-out':true,
          'translate-x-0': isUnitService,
          'translate-x-full': !isUnitService,
          }"
          >
          </span>
          <p
            class="z-10 md:whitespace-nowrap w-1/2 text-center py-4 px-1.5 md:px-10 rounded-full"
          >
            Paiement immédiat
          </p>
          <p
            class="z-10 md:whitespace-nowrap w-1/2 text-center py-4 px-5 md:px-10 rounded-full"
          >
            Paiement au succès
          </p>
        </div>
      </div>
    </div>
    </div>


  <!-- Ce qui est inclus -->
  <div
    class="bg-mygray4 text-mygrey1 md:px-8 w-full mb-10 md:mb-24 flex flex-col items-center justify-center font-open"
  >
    <h2 class="text-3xl font-bold font-raleway text-center mb-16">
      Ce qui est inclus dans l'offre
    </h2>

    <p class="text-xl mb-24 md:w-3/4 text-center">
      Un prestataire unique pour prendre en charge la diffusion de votre annonce
    </p>

    <!-- Service Cards -->
    <div class="grid md:grid-cols-3 sm:px-12 px-5 gap-14">
      @for(service of currentServices; track service){
      <app-service-card [service]="service"></app-service-card>
      }
    </div>
  </div>

  <!-- Comprendre le co-mandat -->
  <div
    *ngIf="!isUnitService"
    class="bg-mygray4 text-mygrey1 px-4 md:px-8 w-full mb-10 md:mb-16 flex flex-col items-center justify-center font-open"
  >
    <h2 class="text-3xl font-bold font-raleway text-center mb-10 md:mb-16">
      Comprendre le co-mandat
    </h2>

    <div
      class="xl:w-4/5 2xl:w-2/3 grid md:grid-cols-[1fr_4fr] gap-x-6 md:gap-y-4 bg-white m-auto p-5 rounded-2xl"
    >
      <div class="md:order-2 p-5">
        <p class="font-raleway font-bold text-xl py-5">
          Maximisez la visibilité de vos biens sans frais initiaux
        </p>
        <p class="">
          Avec DiffuZe, vous profitez d'une diffusion optimale sur les plus
          grands portails immobiliers, sans aucun coût anticipé. Nous prenons en
          charge la mise en avant de vos biens, vous offrant une visibilité
          maximale sans frais publicitaires.
        </p>
      </div>
      <div
        class="md:order-1 bg-gray-200 flex items-center justify-center h-[200px] md:h-full md:w-full p-5 rounded-2xl"
      >
        <img
          src="assets/img/illustration/home.png"
          class="h-full w-auto object-contain"
          alt=""
        />
      </div>

      <div class="md:order-4 p-5">
        <p class="font-raleway font-bold text-xl py-5">
          Une tarification transparente et un modèle au succès
        </p>
        <p>
          Contrairement aux services traditionnels, vous ne payez qu'en cas de
          vente. Une simple signature d'avenant au mandat permet d'intégrer
          DiffuZe comme diffuseur, assurant une gestion fluide et efficace.
        </p>
        <p>
          <span class="font-semibold">Aucune dépense cachée : </span>Vous
          connaissez exactement les conditions dès le départ.
        </p>
        <p>
          <span class="font-semibold">Paiement uniquement à la vente : </span>Un
          modèle sécurisé, sans risque financier.
        </p>
        <p>
          <span class="font-semibold"
            >Rémunération sur partage de commission,</span
          >
          avec un barème dégressif :
        </p>
        <div class="flex flex-col md:flex-row md:gap-6">
          <div class="">
            <p class="text-sm font-light text-mygrey3 mt-4 mb-2">
              mandats simples
            </p>
            <ul class="bg-myyellow2 list-disc pl-5 rounded-xl p-2">
              <li>8 % de 0 à 10 000 €</li>
              <li>6 % de 10 001 à 20 000 €</li>
              <li>4 % de 20 001 à 50 000 €</li>
              <li>2 % au-delà de 50 001 €</li>
            </ul>
          </div>
          <div class="">
            <p class="text-sm font-light text-mygrey3 mt-4 mb-2">
              mandats exclusifs
            </p>
            <ul class="bg-myyellow2 list-disc pl-5 rounded-xl p-2">
              <li>6 % de 0 à 10 000 €</li>
              <li>4 % de 10 001 à 20 000 €</li>
              <li>2 % de 20 001 à 50 000 €</li>
              <li>1 % au-delà de 50 001 €</li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="md:order-3 bg-gray-200 flex items-center justify-center h-[200px] md:h-full md:w-full p-5 rounded-2xl"
      >
        <img
          src="assets/img/illustration/target.png"
          class="h-full w-auto object-contain"
          alt=""
        />
      </div>
      <div class="md:order-6 p-5">
        <p class="font-raleway font-bold text-xl py-5">
          Un partenariat gagnant-gagnant
        </p>
        <p class="">
          Ce modèle vous permet de vendre en toute sérénité. Grâce à une
          approche basée sur la performance et une rémunération transparente,
          vous bénéficiez d'un service efficace et professionnel, sans compromis
          sur la qualité ni sur la diffusion.
        </p>
      </div>
      <div
        class="md:order-5 bg-gray-200 flex items-center justify-center h-[200px] md:h-full md:w-full p-5 rounded-2xl"
      >
        <img
          src="assets/img/illustration/handshake.png"
          class="h-full w-auto object-contain"
          alt=""
        />
      </div>
    </div>
  </div>

  <!-- Simulator -->
  <div
    class="mb-24 px-8 md:px-14 bg-mygray4 text-mygrey1 w-full flex flex-col items-center justify-center"
  >
    <h2 class="text-3xl font-bold font-raleway text-center mb-10 md:mb-16">
      Personnalisez votre offre
    </h2>
    <app-option-simulator
      [isUnitService]="isUnitService"
    ></app-option-simulator>

    <a
      href="http://www.app.diffuze.fr"
      target="_blank"
      rel="external"
      class="bg-myyellow1 text-mygrey1 rounded-full px-10 py-4 font-semibold transform hover:translate-y-[-2px] hover:bg-myyellow2 transition-all transition-300 cursor-pointer"
      >Déposer une annonce</a
    >
  </div>

  <!-- Comment ça marche ? -->
  <div
    class="mb-24 px-8 md:px-14 bg-mygray4 text-mygrey1 w-full flex flex-col items-center justify-center"
  >
    <h2 class="text-3xl font-bold font-raleway text-center mb-24">
      Comment ça marche ?
    </h2>
    <app-how-card
      *ngIf="isUnitService"
      number="1"
      title="Déposez vos annonces"
      [checks]="[
        {
          check:
            'Je me connecte à DiffuZe ou directement à mon logiciel métier',
          information: 'Compatible avec tous les logiciel métier du marché'
        },
        {
          check:
            'J’enregistre les caractéristiques de mon annonce (vente ou location)'
        },
        { check: 'Je télécharge mes photos' },
        { check: 'Je choisis mes options et procède au paiement' }
      ]"
      information="Compatible avec tous les logiciel métier du marché"
      image="assets/img/illustration/completed.png"
    ></app-how-card>
    <app-how-card
      *ngIf="!isUnitService"
      number="1"
      title="Déposez vos annonces"
      [checks]="[
        {
          check:
            'Je me connecte à DiffuZe ou directement à mon logiciel métier',
          information: 'Compatible avec tous les logiciel métier du marché'
        },
        {
          check:
            'J’enregistre les caractéristiques de mon annonce (vente ou location)'
        },
        { check: 'Je télécharge mes photos' },
        { check: 'Je choisis mes options et enregistre mon annonce' }
      ]"
      information="Compatible avec tous les logiciel métier du marché"
      image="assets/img/illustration/completed.png"
    ></app-how-card>

    <app-how-card
      number="2"
      [left]="true"
      title="Gestion et optimisation de vos annnonces "
      [checks]="[
        {
          check:
            'Un prestataire unique qui diffuse sur l’ensemble des plateformes'
        },
        {
          check:
            'Modification illimitée de vos annonces  depuis votre espace DiffuZe ou votre logiciel métier',
          information: 'Compatible avec tous les logiciel métier du marché'
        },
        { check: 'Jusqu’à 10 photos incluses et un lien vidéo / visite 3D' },
        { check: 'Boost hebdomadaire' },
        { check: 'Pause ou renouvellement possible à tout moment' }
      ]"
      information="Compatibles avec tous les CRM (HubSpot, Salesforce, Zoho... )"
      image="assets/img/illustration/chart.png"
    ></app-how-card>

    <app-how-card
      number="3"
      title="Assistance technique et juridique"
      text="Un interlocuteur dédié disponible 6j/7 pour répondre à toutes vos questions techniques, légales..."
      image="assets/img/illustration/support.png"
    ></app-how-card>

    <a
      href="http://www.app.diffuze.fr"
      target="_blank"
      rel="external"
      class="bg-myyellow1 text-mygrey1 rounded-full px-10 py-4 font-semibold transform hover:translate-y-[-2px] hover:bg-myyellow2 transition-all transition-300 cursor-pointer"
      >Déposer une annonce</a
    >
  </div>

  <hr class="w-3/4 m-auto mb-24" />

  <!-- FAQ -->
  <div
    class="w-full px-4 md:px-8 lg:w-4/5 text-mygrey1 mb-24 flex flex-col items-center justify-center font-open"
  >
    <h2 class="text-3xl font-bold font-raleway text-center mb-10 md:mb-16">
      Questions fréquentes
    </h2>
    <p class="text-xl leading-relaxed mb-12 text-justify">
      Vous ne trouvez pas ce que vous cherchez ?
    </p>
    <a
      href="https://app.lemcal.com/@diffuze/15min"
      target="_blank"
      rel="external"
      class="mb-10 bg-mygrey2 text-white rounded-full px-10 py-4 font-semibold transform hover:translate-y-[-2px] hover:bg-mygrey3 transition-all transition-300 cursor-pointer"
      >Prendre rendez-vous</a
    >

    <div class="w-full space-y-4">
      @for(question of questions; track question.id) {
      <div class="group rounded-2xl hover:bg-gray-200 transition-colors">
        <button
          class="flex items-center justify-between w-full p-5 cursor-pointer peer"
          type="button"
          aria-expanded="false"
        >
          <p class="font-bold text-lg">{{ question.text }}</p>
          <img
            class="h-[10px] transition-transform duration-300 group-hover:rotate-180"
            src="assets/img/icon/btn-down.png"
            alt="Toggle"
          />
        </button>
        <div
          class="grid grid-rows-[0fr] transition-all duration-300 group-hover:grid-rows-[1fr]"
        >
          <div class="overflow-hidden">
            <p class="p-5">{{ question.response }}</p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
