<div class="min-h-screen bg-gray-50 flex flex-col items-center font-open">
  <!-- Hero -->
  <div
    class="relative h-[550px] w-full pb-14 text-white px-8 flex flex-col items-center justify-center overflow-x-hidden"
  >
    <h1 class="z-10 text-4xl font-paytone text-center max-w-[600px] mb-12">
      Règlement Général sur la Protection des Données
    </h1>
    <p
      class="z-10 text-lg md:text-xl leading-relaxed mb-12 md:w-3/4 text-center"
    >
      Dernière mise à jour: Mars 2025
    </p>
    <div
      class="absolute -top-20 left-1/2 w-[140%] h-[500px] bg-mygrey2 transform -translate-x-1/2 -rotate-3"
    ></div>
  </div>

  <div
    class="bg-mygray4 text-mygrey2 w-4/5 flex flex-col items-start font-open leading-relaxed mb-12"
  >
    <p>
      Dans cette politique de confidentialité, « nous », « notre » et « nos »
      correspondent à DiffuZe. Nous sommes susceptibles de modifier la présente
      politique de confidentialité de temps à autre. Nous vous conseillons donc
      de consulter cette page à nouveau lorsque vous faites appel à nos services
      afin de vous assurer que vous avez lu la version la plus récente.
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      1. COLLECTE DE VOS DONNÉES PERSONNELLES
    </h2>
    <p>
      Nous vous demandons de nous fournir certaines données personnelles pour
      vous fournir les informations ou services que vous sollicitez. Par
      exemple, lorsque vous enregistrez une annonce immobilière en ligne ou une
      demande pour être rappelé.<br />
      Ces données personnelles comprennent vos :<br />
      coordonnées, comprenant nom, e-mail, numéro de téléphone et adresse ;
      informations d’utilisateur et de compte, comprenant vos pseudonyme, mot de
      passe et identifiant unique d’utilisateur ;<br />
      informations personnelles, comprenant votre civilité, ville, date de
      naissance et votre historique d’échanges avec DiffuZe, vos apports
      financiers... préférences personnelles, comprenant votre liste de
      souhaits, vos préférences marketing.
    </p>
    <p>
      Nous collectons des données personnelles également :<br />
      Lorsque vous consultez notre site Web et que des cookies sont placés sur
      votre ordinateur. Veuillez consulter notre politique sur les cookies pour
      en savoir plus. Lorsque vous nous envoyez un e-mail, appelez ou écrivez ou
      lorsque vous nous fournissez des informations de toute autre façon, y
      compris en communiquant avec nous sur les réseaux sociaux tels que
      Facebook, LinkedIn ou Instagram. Lorsqu’un proche ou un ami nous donne des
      informations à votre sujet au cours des discussions sur l’immobilier.
    </p>
    <p>
      Nous veillerons à ce que les données personnelles vous concernant traitées
      par nos soins soient correctes. Nous veillerons également à mettre à jour
      vos données personnelles en permanence. Comme nos services s'appuient sur
      vos données personnelles correctes et mises à jour, nous vous prions de
      bien vouloir nous informer de tout changement relatif à vos données
      personnelles. Vous pouvez utiliser nos coordonnées de contact ci-dessous
      pour nous faire part de toute modification.
    </p>
    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      2. UTILISATION DE VOS DONNÉES PERSONNELLES
    </h2>

    <p>
      Nous utilisons vos données personnelles pour les raisons suivantes :<br />
      Pour traiter les demandes, questions et plaintes reçues de votre part et y
      répondre.<br />
      Conformément à notre intérêt légitime de provision d’un service réactif
      pour nos clients.<br />
      Pour fournir les fonctionnalités des sites, applications et services que
      vous sollicitez : Lorsque vous utilisez notre Site Internet, nous
      utiliserons vos données personnelles pour vous fournir le produit ou
      service demandé. Par exemple, si vous vous inscrivez à participer à une
      visite ou à une offre commerciale, nous utiliserons les coordonnées que
      vous nous fournissez pour communiquer avec vous au sujet de la visite ou
      l’offre commerciale en question. Si vous contactez notre service
      clientèle, nous utiliserons les informations vous concernant (informations
      sur le bien que vous voulez vendre, informations sur le bien que vous
      allez visité ou avez visité ...) afin de vous aider à résoudre votre
      problème ou répondre à votre question.<br />
      Pour fournir des informations sur nos produits immobiliers, services,
      évènements et à d’autres fins promotionnelles. Si vous avez rempli un
      formulaire de demande d’information ou être rappelé, nous vous enverrons
      des communications marketing et des nouvelles à propos des produits,
      services, évènements et autres promotions de DiffuZe. Vous pouvez vous
      désinscrire à tout moment après avoir exprimé votre consentement, en nous
      écrivant sur contact&#64;barnabeimmo.fr ou en cliquant sur le lien me
      désinscrire ou me désabonner. Si vous êtes actuellement un client de
      DiffuZe, nous pouvons utiliser les informations de contact que vous avez
      fournies pour vous envoyer des communications marketing à propos de
      produits ou services similaires, (à moins que vous les ayez refusées).
      Dans d’autres cas, nous vous demandons votre consentement pour vous
      envoyer des communications marketing. Nous pouvons utiliser les
      informations que vous nous fournissez ainsi que les informations d’autres
      produits ou services DiffuZe telles que votre utilisation de notre Site
      Internet DiffuZe, vos visites ou achats effectués chez DiffuZe, votre
      participation aux évènements DiffuZe – pour vous envoyer des
      communications personnalisées sur les produits et services susceptibles de
      vous intéresser.<br />
      Pour faire fonctionner, améliorer et maintenir nos activités, produits et
      services. Par exemple, lorsque vous effectuez l’achat d’un bien nous
      utilisons cette information à des fins comptables, d’audit et d’autres
      finalités internes. Nous pouvons utiliser les données personnelles
      relatives à la façon dont vous utilisez nos produits et services pour
      améliorer votre expérience d’utilisateur et nous permettre de détecter des
      problèmes techniques ou de service et administrer nos Sites internet et
      Applications.<br />
      Pour prévenir ou détecter des fraudes, abus, utilisation illicite,
      violations de nos Conditions d’Utilisation, et pour se conformer à des
      décisions de justice, requêtes gouvernementales ou loi.<br />
      A des fins de recherche générale et d’analyse pour comprendre les
      comportements et préférences des consommateurs. Par exemple, nous pouvons
      utiliser les informations sur la façon dont les visiteurs du Site Internet
      de DiffuZe cherchent et trouvent les produits pour mieux comprendre les
      meilleures façons d’organiser et de présenter nos offres de produits en
      ligne. Quand vous utilisez les services de DiffuZe à travers le site, nous
      avons besoin de vos données personnelles pour exécuter le contrat qui nous
      lie à vous. Nous pouvons également utiliser vos données personnelles à
      d’autres fins et nous vous fournirons les informations spécifiques au
      moment de leur collecte et solliciterons votre consentement si cela est
      nécessaire.<br />
      Pour mettre nos dossiers à jour et à des fins d’audit, en vertu de notre
      intérêt légitime dans ce sens et/ou lorsque ceci est exigé par la loi.<br />
      Afin d’effectuer des recherches sur la satisfaction des clients, dans
      notre intérêt légitime visant à compléter, modifier, personnaliser et
      améliorer nos services et communications au profit de nos clients.<br />
      Afin de recommander des produits et services qui, selon nous, sont
      susceptibles de vous intéresser. Nous faisons ceci conformément à notre
      intérêt légitime pour envoyer des communiqués de marketing direct à nos
      clients ou pour utiliser vos données ou des méthodes électroniques telles
      qu’un e-mail, avec votre consentement express.<br />
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      3. COMMUNICATION DE VOS DONNÉES PERSONNELLES
    </h2>
    <p>
      Nous ne louerons pas, ne vendrons pas ni ne partagerons ou ne divulguerons
      pas vos données personnelles, sauf comme décrit dans la présente ou
      mention contraire au moment où les données sont collectées. <br />
      Nous ne partagerons vos informations que dans ces circonstances, s’il est
      nécessaire afin que nos prestataires de service puissent fournir le
      service en question pour notre compte. Ces fournisseurs de services ne
      sont pas autorisés à conserver et utiliser vos données personnelles à
      d’autres fins, et ils seront toujours tenus de garder vos données
      personnelles confidentielles.<br />
      Nous pouvons divulguer vos données personnelles à des tierces parties
      sélectionnées, telles que des agences des forces de l’ordre, des autorités
      réglementaires et nos conseillers professionnels si nous sommes tenus de
      le faire afin de nous conformer à toute obligation légale, ou si cela
      s’inscrit dans nos intérêts légitimes ou afin d’exécuter ou d'appliquer
      les conditions d’utilisation de notre site Web ou d'autres contrats
      connexes avec vous ou votre entreprise.<br />
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      4. CONSERVATION DE VOS DONNÉES PERSONNELLES
    </h2>
    <p>
      Vos données personnelles seront conservées aussi longtemps que nécessaire
      pour réaliser les finalités exposées dans cette politique de
      confidentialité (sauf si une durée de conservation plus longue est requise
      par la loi applicable). En général, cela signifie que nous conserverons
      vos données personnelles tant que vous conserverez votre espace client
      DiffuZe. Pour les données personnelles relatives aux achats ou vente de
      biens (appartements ou maisons), nous les conservons plus longtemps afin
      de nous conformer à des obligations légales (telles que la règlementation
      fiscale ou en matière de vente et à des fins de garantie).
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      5. SECURITE
    </h2>
    <p>
      Nous avons mis en place des mesures techniques et organisationnelles
      appropriées pour protéger vos données personnelles contre une perte ou une
      modification involontaire, contre une divulgation non autorisée et contre
      l’accès de personnes non autorisées à vos données personnelles. En cas de
      violation de la sécurité, nous vous informerons dès que possible si la
      violation représente un risque élevé pour vos droits (vol d'identité,
      discrimination à votre égard, perte de réputation ou autre désagrément
      majeur, par exemple).
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      6. VOS DROITS EN MATIÈRE DE CONFIDENTIALITÉ
    </h2>
    <p>
      Vous avez le droit de solliciter : (1) l’accès à vos données personnelles
      ; (2) une copie électronique de vos données personnelles (portabilité) ;
      (3) la rectification de vos données personnelles si elles se révèlent
      incomplètes ou inexactes ; ou (4) l’effacement ou la limitation de vos
      données personnelles dans certaines circonstances prévues par la loi
      applicable. Ces droits ne sont pas absolus. Dans les cas où vous nous avez
      fourni votre consentement au traitement de vos données personnelles, vous
      avez le droit de retirer votre consentement à tout moment. Si vous
      souhaitez solliciter une copie de vos données personnelles ou exercer
      n’importe lequel de vos droits, veuillez nous contacter à :
      contact&#64;barnabeimmo.fr
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      7. SITES WEB TIERS
    </h2>
    <p>
      Ce site Internet peut contenir des liens vers des sites Internet d’autres
      entreprises et organisations. Cet Avis de confidentialité ne s’applique
      pas à ces sites tiers et nous vous recommandons de contacter ces sites
      tiers directement pour en savoir plus sur leurs politiques de collecte et
      distribution de données.
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      8. DÉMARCHAGE TÉLÉPHONIQUE
    </h2>
    <p>
      Vous êtes informé de la possibilité de vous inscrire gratuitement sur la
      liste d’opposition au démarchage téléphonique BlocTel. Nonobstant cette
      faculté, en acceptant notre politique de protection des données
      personnelles, vous acceptez expressément d’être contacté(e) par DiffuZe
      aux fins notamment d’être tenu(e) informé(e) des services de DiffuZe, et
      ce pendant une durée d’un an.
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      9. MODIFICATIONS DE LA POLITIQUE DE CONFIDENTIALITÉ
    </h2>
    <p>
      Nous pouvons modifier cet avis à tout moment en publiant une nouvelle
      version sur notre site Internet. Cet Avis de confidentialité a été mis à
      jour le 06/03/2025.
    </p>

    <hr class="w-full m-auto my-16" />


  </div>
</div>
