<!-- Main modal -->
<dialog
  #modal
  (click)="closeModalByClick($event)"
  class="modal rounded-2xl px-4"
  id="default-modal rounded-lg"
  tabindex="-1"
  aria-hidden="true"
>
  <div
    (click)="$event.stopPropagation()"
    class="relative bg-white md:w-2/3 h-2/3 overflow-scroll rounded-lg shadow-sm"
  >
    <!-- Modal header -->
    <div
      class="sticky top-0 left-0 right-0 bg-white z-10 flex items-center justify-between p-4 border-b border-gray-200"
    >
      <h3 class="text-xl font-semibold text-gray-900 self-center">
        Filtrer votre recherche
      </h3>
      <button
        (click)="closeModal()"
        type="button"
        class="absolute right-2 top-2 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        data-modal-hide="default-modal"
      >
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>

    <!-- Modal content -->
    <div>
      <!-- Modal body -->
      <div class="p-10 flex flex-col gap-8">
        <p class="text-xl font-semibold pb-4">Budget</p>
        <div class="flex items-center justify-start gap-4 w-full">
          <div class="flex-1 flex items-center gap-4">
            <label class="whitespace-nowrap" for="budget"
              >Budget Minimum :
            </label>
            <input
              [(ngModel)]="filters.budgetMin"
              type="number"
              name="budget"
              id="budget"
              class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 border-none focus:ring-1 focus:ring-myyellow1 focus:outline-none select-none"
              placeholder="Votre buget minimum (en €)"
              required=""
            />
          </div>
          <div class="flex-1 flex items-center gap-2">
            <label class="whitespace-nowrap" for="budget"
              >Budget Maximum :
            </label>
            <input
              [(ngModel)]="filters.budgetMax"
              type="number"
              name="budget"
              id="budget"
              class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 border-none focus:ring-1 focus:ring-myyellow1 focus:outline-none select-none"
              placeholder="Votre buget maximum (en €)"
              required=""
            />
          </div>
        </div>
        <p class="text-xl font-semibold pb-4">Surface</p>
        <div class="flex items-center justify-start gap-4 w-full">
          <div class="flex-1 flex items-center gap-4">
            <label class="whitespace-nowrap" for="budget"
              >Surface Minimum :
            </label>
            <input
              [(ngModel)]="filters.surfaceMin"
              type="number"
              placeholder="Surface minimum"
              class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 border-none focus:ring-1 focus:ring-myyellow1 focus:outline-none select-none"
            />
            <span class="absolute right-6 top-3 font-semibold text-b-blue"
              >m2</span
            >
          </div>
          <div class="flex-1 flex items-center gap-2">
            <label class="whitespace-nowrap" for="budget"
              >Surface Maximum :
            </label>
            <input
              [(ngModel)]="filters.surfaceMax"
              type="number"
              placeholder="Surface maximum"
              class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 border-none focus:ring-1 focus:ring-myyellow1 focus:outline-none select-none"
            />
            <span class="absolute right-6 top-3 font-semibold text-b-blue"
              >m2</span
            >
          </div>
        </div>

        <p class="text-xl font-semibold pb-4">Chambres et pièces</p>
        <div class="flex flex-col gap4">
          <div class="flex items-center justify-between w-full">
            <p>Nombre de pièces</p>
            <div class="flex items-center gap-4 mt-2 rounded-lg px-4 py-2">
              <button
                (click)="decrementRooms()"
                [disabled]="filters.roomMin <= 1"
                class="p-2 bg-gray-200 rounded-full w-8 h-8 flex items-center justify-center disabled:opacity-50"
              >
                <i class="fa-solid fa-minus"></i>
              </button>

              <span class="text-lg font-semibold">{{ filters.roomMin }}</span>

              <button
                (click)="incrementRooms()"
                [disabled]="filters.bedroomMin >= 5"
                class="p-2 bg-gray-200 rounded-full w-8 h-8 flex items-center justify-center"
              >
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="flex items-center justify-between w-full">
            <p>Nombre de chambre</p>
            <div class="flex items-center gap-4 mt-2 rounded-lg px-4 py-2">
              <button
                (click)="decrementBedrooms()"
                [disabled]="filters.bedroomMin <= 1"
                class="p-2 bg-gray-200 rounded-full w-8 h-8 flex items-center justify-center disabled:opacity-50"
              >
                <i class="fa-solid fa-minus"></i>
              </button>

              <span class="text-lg font-semibold"
                >{{ filters.bedroomMin }}</span
              >

              <button
                (click)="incrementBedrooms()"
                class="p-2 bg-gray-200 rounded-full w-8 h-8 flex items-center justify-center"
              >
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
        </div>

        <p class="text-xl font-semibold pb-4">Type de logements</p>
        <div class="flex items-center gap-4">
          <label
            [ngClass]="{
              'p-4 border border-mygrey3 rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
              'border-2 border-black': filters.hasType === 'maison'
            }"
          >
            <input
              type="radio"
              class="hidden"
              [(ngModel)]="filters.hasType"
              name="type"
              value="maison"
            />
            <i class="fa-solid fa-house"></i> Maison
          </label>

          <label
            [ngClass]="{
              'p-4 border border-mygrey3 rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
              'border-2 border-black': filters.hasType === 'appartement'
            }"
          >
            <input
              type="radio"
              class="hidden"
              [(ngModel)]="filters.hasType"
              name="type"
              value="appartement"
            />
            <i class="fa-solid fa-building"></i> Appartement
          </label>

          <label
            [ngClass]="{
              'p-4 border border-mygrey3 rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
              'border-2 border-black': filters.hasType === 'loft'
            }"
          >
            <input
              type="radio"
              class="hidden"
              [(ngModel)]="filters.hasType"
              name="type"
              value="loft"
            />
            <i class="fa-solid fa-warehouse"></i> Loft
          </label>
        </div>

        <!-- Autre critères -->
        <p class="text-xl font-semibold pb-4">Avantages et infrastructures</p>

        <div class="flex items-center gap-4">
          <label
            [ngClass]="{
              'p-4 border rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
              'border-mygrey3': !filters.others.hasParking,
              'border-2 border-black': filters.others.hasParking
            }"
          >
            <input
              type="checkbox"
              class="hidden"
              [(ngModel)]="filters.others.hasParking"
            />
            <i class="fa-solid fa-square-parking"></i> Parking
          </label>

          <label
            [ngClass]="{
              'p-4 border rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
              'border-mygrey3': !filters.others.hasBasement,
              'border-2 border-black': filters.others.hasBasement
            }"
          >
            <input
              type="checkbox"
              class="hidden"
              [(ngModel)]="filters.others.hasBasement"
            />
            <i class="fa-solid fa-box-archive"></i>
            Cave
          </label>

          <label
            [ngClass]="{
              'p-4 border rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
              'border-mygrey3': !filters.others.hasElevator,
              'border-2 border-black': filters.others.hasElevator
            }"
          >
            <input
              type="checkbox"
              class="hidden"
              [(ngModel)]="filters.others.hasElevator"
              
            />
            <i class="fa-solid fa-elevator"></i> Ascenseur
          </label>
          <label
            [ngClass]="{
              'p-4 border rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
              'border-mygrey3': !filters.others.hasBalcony,
              'border-2 border-black': filters.others.hasBalcony
            }"
          >
            <input
              type="checkbox"
              class="hidden"
              [(ngModel)]="filters.others.hasBalcony"
            />
            <i class="fa-solid fa-tree-city"></i> Balcon
          </label>
          <label
            [ngClass]="{
              'p-4 border rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
              'border-mygrey3': !filters.others.hasTerrace,
              'border-2 border-black': filters.others.hasTerrace
            }"
          >
            <input
              type="checkbox"
              class="hidden"
              [(ngModel)]="filters.others.hasTerrace"
            />
            <i class="fa-solid fa-sun"></i> Terrasse
          </label>
          <label
            [ngClass]="{
              'p-4 border border-mygrey3 rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
              'border-mygrey3': !filters.others.hasBox,
              'border-2 border-black': filters.others.hasBox
            }"
          >
            <input
              type="checkbox"
              class="hidden"
              [(ngModel)]="filters.others.hasBox"
            />
            <i class="fa-solid fa-warehouse"></i> Box
          </label>

        </div>
      </div>
    </div>

    <!-- Modal footer -->
    <div
      class="sticky top-0 left-0 right-0 bg-white z-10 flex items-center justify-between p-4 border-b border-gray-200"
    >
      <div class="flex items-center justify-between w-full">
        <button 
        (click)="removeFilters()"
        class="rounded-lg p-4 hover:bg-zinc-100 font-semibold">
          Effacer les filtres
        </button>
        <button
          (click)="closeModal()"
          class="rounded-lg p-4 text-white bg-zinc-700 font-semibold hover:bg-zinc-900"
        >
          Appliquer les filtres
        </button>
      </div>
    </div>
  </div>
</dialog>
