<div
[ngClass]="{
    'group relative h-[250px] rounded-2xl shadow-md cursor-pointer':true,
    'bg-mygrey2' : service.backGroundColor === 'mygrey2',
    'bg-myyellow1' : service.backGroundColor === 'myyellow1',
    'bg-myyellow2' : service.backGroundColor === 'myyellow2',
    'bg-white' : service.backGroundColor === 'white'
    }"
>
<img
  [src]="service.image"
  class="z-10 absolute top-0 right-0 transform translate-x-[50%] translate-y-[-50%] h-[50px]"
  alt=""
/>

<div
  [ngClass]="{
    'h-full text-white flex flex-col items-center justify-center gap-6 px-5':true,
    'text-white' : service.textColor === 'white',
    'text-mygrey1' : service.textColor === 'mygrey1'
    }"
>
    <p>{{service.text['text1']}}</p>
    <p class="text-4xl lg:text-6xl font-bold">{{service.text['number']}}</p>
    <p class="text-center w-3/4">{{service.text['text2']}}</p>
</div>

<div class="overflow-hidden w-full absolute bottom-0 left-0">
  <div
    class="p-5 bg-white w-full h-[250px] transform translate-y-[100%] transition-transform duration-500 group-hover:translate-y-0 rounded-2xl"
  >
  @for(item of service.description; track item){

    <p class="text-start mb-5 font-bold">
      <img *ngIf="item.img" [src]="item.img" class="w-[60px] inline">
      {{item.text}}
    </p>
  }
  </div>
</div>

</div>
