<div class="min-h-screen bg-gray-50 flex flex-col items-center font-open">
  <!-- Hero -->
  <div
    class="relative h-[550px] w-full pb-14 text-white px-8 flex flex-col items-center justify-center overflow-x-hidden"
  >
    <h1 class="z-10 text-4xl font-paytone text-center max-w-[600px] mb-12">
      Mentions légales et conditions générales d'utilisation
    </h1>
    <p
      class="z-10 text-lg md:text-xl leading-relaxed mb-12 md:w-3/4 text-center"
    >
      Dernière mise à jour: Mars 2025
    </p>
    <div
      class="absolute -top-20 left-1/2 w-[140%] h-[500px] bg-mygrey2 transform -translate-x-1/2 -rotate-3"
    ></div>
  </div>

  <div
    class="bg-mygray4 text-mygrey2 w-4/5 flex flex-col items-start font-open leading-relaxed mb-12"
  >
    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      1. Inscription
    </h2>
    <p>
      Désigne le professionnel de l’immobilier, personne physique ou morale,
      titulaire d’une carte professionnelle d’agent immobilier telle que définie
      par la loi n°70-9 du 2 janvier 1970, dite loi « HOGUET », et d’un ou
      plusieurs Mandats de vente ou de location de biens immobiliers et qui aura
      accès aux Services.<br />
      L’inscription au site est ouverte à toutes les personnes morales ou
      physiques majeures et jouissant de leurs pleines personnalités et
      capacités juridiques. L’utilisation des services proposés sur le site est
      conditionnée à l’inscription de l’utilisateur sur le site. L’inscription
      est gratuite.<br />
      Pour procéder à l’inscription, l’utilisateur-ce doit remplir tous les
      champs obligatoires ; à défaut l’inscription ne pourra être complétée.<br />
      Les utilisateurs garantissent et déclarent sur l'honneur que toutes les
      informations communiquées sur le site, notamment lors de leur inscription,
      sont exactes et conformes à la réalité. Ils s’engagent à mettre à jour
      leurs informations personnelles à partir de la page dédiée à ces dernières
      et disponible dans leur compte.<br />
      Tout utilisateur enregistré dispose d’un identifiant et d’un mot de passe.
      Ces derniers sont strictement personnels et confidentiels et ne devront en
      aucun cas faire l’objet d’une communication à des tiers sous peine de
      suppression du compte de l’utilisateur enregistré contrevenant.<br />
      Chaque utilisateur inscrit est personnellement responsable du maintien de
      la confidentialité de son identifiant et de son mot de passe. La société
      DiffuZe ne sera en aucun cas tenue pour responsable de l’usurpation
      d’identité d’un utilisateur.<br />
      Si un utilisateur suspecte une fraude à n’importe quel moment, il devra
      contacter la société dans les plus brefs délais afin que cette dernière
      puisse prendre les mesures nécessaires et régulariser la situation.<br />
      Chaque utilisateur, qu’il soit une personne morale ou physique, ne peut
      être titulaire que d’un compte sur le site.<br />
      En cas de non-respect des CGS/CGU, notamment la création de plusieurs
      comptes pour une seule personne ou encore la fourniture de fausses
      informations, la société se réserve le droit de procéder à la suppression
      temporaire ou définitive de tous les comptes créés par l’utilisateur
      enregistré contrevenant.<br />
      La suppression du compte entraîne la perte définitive de tous les
      avantages et services acquis sur le site.<br />
      Cependant, toute commande réalisée et facturée par le site avant la
      suppression du compte sera exécutée dans les conditions normales.<br />
      En cas de suppression d’un compte par la société pour manquement aux
      devoirs et obligations énoncées dans les CGS/CGU, il est formellement
      interdit à l’utilisateur contrevenant de se réinscrire sur le site
      directement, par le biais d’une autre adresse électronique ou par personne
      interposée sans l’autorisation expresse de la société.<br />
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      2. Prestation de service et prix
    </h2>
    <p>
      Les services faisant l’objet des CGS/CGU sont ceux qui figurent sur le
      site et qui sont proposés directement par la société Diffuze ou ses
      prestataires partenaires. Les services sont décrits sur la page
      correspondante au sein du site et mention est faite de toutes leurs
      caractéristiques essentielles. La Société ne peut être tenue responsable
      de l’impossibilité de réaliser ladite prestation lorsque l’utilisateur-ce
      n’est pas éligible.<br />
      Lorsqu’un utilisateur enregistré souhaite obtenir une prestation de
      service vendue par la société à travers le site, le prix indiqué sur la
      page de la prestation correspond au prix en euros toutes taxes comprises
      (TTC) et tient compte des réductions applicables et en vigueur le jour de
      la commande.<br />
      Le prix indiqué n’inclut pas les frais accessoires qui seront indiqués le
      cas échéant dans le récapitulatif avant de passer commande.<br />
      La société se réserve la possibilité de modifier à tout moment ses tarifs.
      Elle s'engage à facturer les prestations au tarif applicable au moment de
      la signature du contrat de prestation de service.<br />
      En aucun cas un utilisateur ne pourra exiger l’application de réductions
      n’étant plus en vigueur le jour de la signature du contrat.<br />
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      3. Détails et modalités de paiement
    </h2>

    <p>
      La société DiffuZe propose un seul pack visibilité, spécifiquement
      rattaché à un bien unique sans possibilité de changement une fois
      souscrit.<br />
      Le pack visibilité est valable pour une durée de 60 jours. Le paiement du
      pack visibilité se fait à l’issue de la création de votre annonce.<br />
      Le paiement est réalisé directement en ligne sur notre site www.diffuZe.fr
      par carte bancaire. Ce paiement est sécurisé. En cas de non-respect des
      conditions de paiement décrites ci-dessus, la Société se réserve la
      possibilité d'annuler ou de suspendre la vente.<br />
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      4. Réalisation des prestations
    </h2>
    <p>
      La prestation de services commandée sur le site sera assurée par :<br />
      La société DiffuZe<br />
      La société s'engage à mettre en œuvre tous les moyens humains et matériels
      pour réaliser la prestation dans les délais annoncés lors de la passation
      de commande de la prestation. Cependant, elle ne peut en aucun cas être
      tenue responsable pour les retards de réalisation de prestation
      occasionnés en raison de fautes qui ne lui sont imputables.<br />
      La société DiffuZe a une obligation de moyen et non de résultat. Elle ne
      peut en aucun cas garantir la vente d'un bien immobilier.<br />
      Si la prestation n'a pas été effectuée dans le délai prévu, la résolution
      du contrat pourra être demandée par le client dans les conditions prévues
      aux articles L138-2 et L138-3 du Code de la consommation.<br />
      Cette disposition ne s'applique pas quand le retard de la société est dû à
      une faute du client ou à un cas de force majeure.<br />
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      5. Droit de rétractation et Réclamation
    </h2>
    <p>
      Conformément à l'article L221-25 du Code de la consommation, l'Utilisateur
      dispose d'un délai de quatorze (14) jours à compter de la conclusion du
      contrat pour exercer son droit de rétractation, sans avoir à motiver sa
      décision.Cependant, en application de l'article L221-28 du Code de la
      consommation, l'Utilisateur reconnaît et accepte que si le service a
      débuté et est pleinement exécuté avant la fin du délai de rétractation, et
      après son accord préalable exprès, il renonce expressément à son droit de
      rétractation.Pour toutes les commandes de prestation de service réalisées
      sur le présent site www.diffuZe.fr, le client renonce à son droit de
      rétractation de 14 jours d'après l'article L121-21-8 du Code de la
      consommation.<br />
      Pour toutes les commandes de prestation de service réalisées sur le
      présent site www.diffuZe.fr, le client renonce à son droit de rétractation
      de 14 jours d'après l'article L121-21-8 du Code de la consommation.<br />
    </p>

    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      6. Modifications
    </h2>
    <p>
      La société se réserve le droit de modifier le site, les services qui y
      sont proposés, les CGS/CGU ainsi que toute procédure de livraison.<br />
    </p>
    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      7. Responsabilités
    </h2>
    <p>
      La Société ne peut en aucun cas être tenue responsable pour
      l’indisponibilité, qu’elle soit temporaire ou permanente du site
      www.diffuZe.fr.
    </p>
    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      8. Clause attributive de compétences
    </h2>
    <p>
      Le droit régissant les CGS/CGU est le droit français. Tout litige pouvant
      survenir entre la société et un utilisateur sera soumis aux tribunaux
      compétents.
    </p>
    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      9. Définitions
    </h2>
    <p>
      "Société" désigne la Société DiffuZe, plus amplement désignée à l'article
      I des présentes.
    </p>
    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      10. Informations précontractuelles
    </h2>
    <p>
      Le client reconnait avoir eu communication, de façon lisible et
      compréhensible, des CGS/CGU et des informations nécessaires avant toute
      commande.
    </p>
    <hr class="w-full m-auto my-16" />

    <h2 class="text-2xl text-mygrey1 font-bold font-raleway text-center mb-10">
      11. Réglementation relative à la RGPD – collecte des données
    </h2>
    <p>
      Le site www.diffuze.fr assure à l'Utilisateur une collecte et un
      traitement d'informations personnelles conformément à la loi n°78-17 du 6
      janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
    </p>

    <hr class="w-full m-auto my-16" />
  </div>
</div>
