<div
  class="min-h-screen bg-gray-50 flex flex-col items-center font-open overflow-x-hidden"
>
  <!-- Hero -->
  <div class="relative h-[600px] md:h-[700px] w-full mb:10 pb-16 text-white mb-16">
    <div class="bg-black opacity-55 absolute inset-0 w-full h-full"></div>
    <span
      class="z-20 absolute h-[100px] w-[120%] left-1/2 transform -translate-x-1/2 -rotate-3 -bottom-10 bg-gray-50"
    ></span>
    
    <div
      class="px-5 bg-[url(assets/img/photo/maison2.jpg)] h-[600px] md:h-[700px] bg-center bg-cover bg-no-repeat w-full flex items-center justify-center"
    >
    <div class="z-20 transform -translate-y-10 flex flex-col items-center">
      <h1 class="z-20 text-4xl font-paytone text-center max-w-[600px] mb-12">
        DiffuZe : adopté et approuvé par nos clients
      </h1>
      <p class="z-20 text-lg md:text-xl leading-relaxed md:w-3/4 text-center">
        Votre satisfaction est notre meilleure réussite
      </p>
    </div>

    </div>
  </div>

  <!-- First Review -->
  <div
    class="z-50 px-8 lg:w-3/4 mb-16 md:mb-24 text-mygrey1 flex flex-col lg:flex-row items-center justify-center gap-10 xl:gap-20"
  >
    <div class="relative flex flex-col gap-10">
      <p
        class="z-0 absolute -top-28 -left-6 md:-left-12 font-paytone text-[160px] text-myyellow1"
      >
        “
      </p>
      <p
        class="z-10 text-xl md:text-2xl hyphens-auto italic leading-relaxed text-justify max-w-[500px]"
      >
        “Un outil <span class="font-bold">simple, efficace</span> et surtout
        adapté à nos besoins. La flexibilité des offres et la diffusion sur les
        grands portails immobiliers en font
        <span class="font-bold">une solution incontournable</span> pour les
        petites agences.”
      </p>
      <div class="flex items-center justify-between">
        <div class="">
          <p class="text-sm font-bold">Agence Century 21</p>
          <p class="text-sm font-light text-mygrey3">25 juin 2024</p>
        </div>
        <img class="w-[120px]" src="assets/img/icon/etoiles.png" alt="" />
      </div>
    </div>
    <div class="p-10 flex items-center justify-center">
      <img class="max-w-[200px]" src="assets/img/logo/century21.png" alt="" />
    </div>
  </div>

  <hr class="w-3/4 m-auto mb-24" />

  <!-- Ils nous font confiance -->
  <div class="bg-mygray4 w-full mb-20 font-open text-mygrey1 px-8">
    <h2 class="text-3xl font-bold font-raleway text-center mb-12">
      Ils nous font confiance
    </h2>

    <div
      class="w-3/4 m-auto grid grid-cols-2 md:grid-cols-4 gap-y-16 gap-x-28 md:gap-x-20 place-items-center mb-20"
    >
      @for(review of reviews; track review){
      <img
        [src]="review.image"
        class="w-[120px] md:w-[140px] rounded-lg"
        alt=""
      />
      }
    </div>

    <div
      class="flex flex-col md:flex-row items-center justify-center m-auto text-lg font-open text-center gap-4 md:gap-2"
    >
      <p>Rejoignez + de</p>
      <div class="relative inline-block">
        <p class="relative z-10 py-4 px-2 font-bold text-xl">
          200 agences partenaires
        </p>
        <span
          class="absolute top-1/2 left-0 w-full h-[110%] bg-myyellow1 -rotate-2 transform -translate-y-1/2 z-0"
        ></span>
      </div>
      <p>convaincues par nos services !</p>
    </div>
  </div>

  <hr class="w-3/4 m-auto mb-16" />

  <!-- Nos clients témoignent -->
  <div
    class="bg-mygray4 w-full mb-16 font-open text-mygrey1 px-8 flex flex-col items-center justify-center overflow-x-hidden"
  >
    <h2 class="text-3xl font-bold font-raleway text-center mb-24">
      Nos clients témoignent
    </h2>

    <div
      class="grid md:grid-cols-2 2xl:grid-cols-3 gap-8 md:gap-y-16 md:gap-x-32 xl:gap-x-40"
    >
      @for (review of reviews; track review.id) { @if (review.text) {
      <app-review-card [review]="review"></app-review-card>
      } }
    </div>
  </div>
</div>
