<div
  class="min-h-screen bg-zinc-100 flex flex-col items-center font-open overflow-x-hidden"
>
  <!-- Hero -->
  <div class="relative h-[700px] w-full text-white md:mb-8">
    <div class="bg-black opacity-55 absolute inset-0 w-full h-full"></div>

    <div
      class="px-5 bg-[url(assets/img/photo/annonces.jpg)] h-[700px] bg-center bg-cover bg-no-repeat w-full flex flex-col items-center justify-center"
    >
      <div class="z-10 transform flex flex-col items-center">
        <h1 class="z-10 text-4xl font-paytone text-center max-w-[600px] mb-12">
          Guide des professionnels de l'immobilier
        </h1>
        <p class="z-10 text-lg md:text-xl leading-relaxed md:w-3/4 text-center">
          Découvrez tous les incontournables de la vente immobilière dans notre
          guide complet.
        </p>
        <div
          class="flex items-center justify-center max-w-[800px] rounded-2xl bg-white text-mygrey1 gap-5 p-5"
        >
          <div class="">
            <label for="location">Location </label>
            <input
              type="location"
              name="location"
              formControlName="location"
              id="location"
              class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Paris"
              required=""
            />
          </div>
          <div class="">
            <label for="type">Type de bien </label>
            <input
            type="select"
            name="type"
            formControlName="type"
            id="type"
            class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Appartement"
            required=""
          />
          </div>
          <div class="">
            <p>Budget</p>
          </div>
          <div class="rounded-lg bg-myyellow1">
            <img src="assets/img/icon/loupe.png" class="h-8 w-8" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
