<div
  class="min-h-screen h-full bg-zinc-100 flex flex-col items-center font-open overflow-x-hidden text-zinc-950"
>
  <!-- Hero -->
  <div class="relative h-[600px] w-full text-white md:mb-5">
    <div class="bg-black opacity-55 absolute inset-0 w-full h-full"></div>

    <div
      class="px-5 bg-[url(assets/img/photo/annonces.jpg)] h-[600px] bg-center bg-cover bg-no-repeat w-full flex flex-col items-center justify-center"
    >
      <div class="z-10 transform flex flex-col items-center">
        <h1 class="z-10 text-4xl font-paytone text-center max-w-[600px] mb-12">
          Votre futur bien, en toute simplicité.
        </h1>
        <p
          class="z-10 text-lg md:text-xl leading-relaxed md:w-3/4 text-center mb-20"
        >
          Découvrez les annonces exclusives de nos clients.
        </p>
      </div>

      <div
        class="z-10 flex items-center justify-center rounded-2xl bg-white text-mygrey1 gap-5 p-5 w-full md:w-4/5"
      >
        <div class="flex-1 flex flex-col gap-5 border-r border-zinc-100 pr-5">
          <label for="location">Location </label>
          <div class="relative flex items-stretch">
            <input
              #addresstext
              type="location"
              name="location"
              id="location"
              class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 focus:ring-1 focus:ring-myyellow1 focus:outline-none"
              placeholder="Choisissez la ville"
              required=""
            />
            <button
              *ngIf="this.filters.location.length != 0"
              (click)="removeLocation()"
              class="absolute top-2 right-2"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="hidden flex-1 md:flex flex-col gap-5 border-r border-zinc-100 pr-5">
          <label for="type">Type de bien </label>
          <select
            [(ngModel)]="filters.hasType"
            (change)="updateDisplayedProperties()"
            name="type"
            id="type"
            class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 pr-10 text-start border-none focus:outline-none focus:ring-1 focus:ring-myyellow1"
            placeholder="Appartement"
            required=""
          >
            <option value="">Tous les logements</option>
            <option value="appartement">Appartement</option>
            <option value="maison">Maison</option>
            <option value="loft">Loft</option>
          </select>
        </div>
        <div class="hidden flex-1 md:flex flex-col gap-5 border-r border-zinc-100 pr-5">
          <label for="budget">Budget </label>
          <input
            #budgetInput
            [(ngModel)]="filters.budgetMax"
            (input)="updateDisplayedProperties()"
            type="number"
            user-select="none"
            name="budget"
            id="budget"
            class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 border-none focus:ring-1 focus:ring-myyellow1 focus:outline-none select-none"
            placeholder="Votre buget maximum (en €)"
            required=""
          />
        </div>
        <div class="h-full flex items-center justify-center">
          <div
            class="rounded-2xl bg-myyellow1 h-4/5 w-auto flex items-center justify-center px-3"
          >
            <img src="assets/img/icon/loupe.png" class="w-8 h-8 md:h-12 md:w-12" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Filters section -->
  <div
    id="filters-section"
    class="relative mb-5 px-8 py-5 md:py-0 bg-mygray4 text-mygrey1 w-full flex flex-col md:flex-row items-center gap-5 justify-between"
  >
    <p class="flex-1 ">
      Découvrez
      <span class="font-bold text-lg">{{ countValidBiens() }} biens</span>
      correspondant à vos critères
    </p>
    <div class="flex flex-1 flex-col w-full lg:flex-row lg:order-1 items-center justify-center gap-2 lg:gap-5">
      <div
        class="flex-1 w-full lg:w-auto order-3 lg:order-1 relative border rounded-xl flex items-center justify-center lg:justify-between gap-4 p-4"
      >
        <img src="assets/img/icon/selection.png" class="w-6 h-auto" alt="" />
        <select
          [(ngModel)]="sortingType"
          (change)="changeSortingType()"
          class="custom-select"
        >
          <option value="recent">Les plus récents</option>
          <option value="cheap">Les moins chers</option>
          <option value="expensive">Les plus chers</option>
          <option value="small">Les plus petits</option>
          <option value="big">Les plus grands</option>
        </select>
      </div>
      <button
        (click)="openFilterModal()"
        class="flex-1 w-full lg:w-auto border rounded-xl flex items-center justify-center lg:justify-between gap-4 p-4"
      >
        <img src="assets/img/icon/filters.png" class="w-6 h-auto" alt="" />
        <p>Filtrer</p>
      </button>
      <!-- modale Filter -->
      <app-filters-dialog
        [filters]="filters"
        (close)="updateDisplayedProperties()"
      >
        ></app-filters-dialog
      >
      <button
        (click)="openAlertModal()"
        class="flex-1  w-full lg:w-auto rounded-xl flex items-center justify-center lg:justify-between gap-4 p-4 bg-myyellow1"
      >
        <img src="assets/img/icon/bell-plus.png" class="w-6 h-auto" alt="" />
        <p class="whitespace-nowrap">Alerte achat</p>
      </button>
      <!-- modale Altert -->
      <app-alert-dialog [filters]="filters"></app-alert-dialog>
    </div>
  </div>

  <!-- GOOGLE MAP -->
  <div class="flex flex-col lg:flex-row h-auto lg:h-[600px] w-full">
    <div #propertiesContainer class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 place-items-center gap-x-5 order-2 lg:order-1 lg:w-1/3 h-[500px] lg:h-full overflow-y-auto px-10 pt-2 mb-10 lg:mb-0">
      @for (property of displayedPproperties; track property) {
      <app-ad-card class="transform md:scale-90 lg:scale-100" [property]="property"></app-ad-card>
      }
    </div>

    <div class="relative w-full order-1 lg:order-2 lg:w-2/3 h-[400px] lg:h-[500px] flex px-2 md:px-10 mb-10">
      <div
        *ngIf="selectedProperty != null"
        class="z-10 absolute top-3 right-2 w-1/3"
      >
        <app-ad-card
          [property]="selectedProperty"
          [smallCard]="true"
        ></app-ad-card>
      </div>

      <google-map
        (mapClick)="clearSelected()"
        mapId="34ea4efc38af24ec"
        class="w-full h-full"
        width="100%"
        height="100%"
        [center]="mapCenter()"
        [zoom]="zoom()"
      >
        @for (property of displayedPproperties; track property) {
        <map-advanced-marker
          *ngIf="property.latitude && property.longitude"
          #marker="mapAdvancedMarker"
          (mapMouseup)="displayOnMap(property)"
          (mapMouseover)="displayOnMap(property)"
          (mapClick)="displayOnMap(property)"
          [position]="getPosition(property)"
          [options]="advancedMarkerOptions"
        />
        }
      </google-map>
    </div>
  </div>
</div>
