/* Pour Chrome, Safari, Edge, et Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-select {
  appearance: none; 
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  padding:0 40px 0 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  background-image: black; 
}

.custom-select:focus {
  outline: none;
  box-shadow: none;
}

.pac-container {
  z-index: 100000 !important;
  position: absolute !important;
}


#filter-modal {
  z-index: 1000 !important;
  position: absolute !important;
}

input:-webkit-autofill {
  background-color: transparent !important;
  color: #282828 !important;
  -webkit-text-fill-color: #282828 !important;
  transition: background-color 5000s ease-in-out 0s;
}