<footer class="footer lg:grid-cols-4 bg-myyellow1 text-mygrey1 p-10 w-full no-print">
  <aside>
    <p class="font-paytone text-4xl">
      DiffuZe<span class="text-white">.</span>
    </p>
    <p>60 rue des Tournelles 75003 PARIS 
      <br> Numéro SIREN : 890299217 
      <br> <a href="mailto:contact@diffuze.fr">contact&#64;diffuze.fr</a>
    <p>
      <div class="grid grid-flow-col gap-4">
     
        <a href="https://www.linkedin.com/company/diffuze-immo/" target="_blank" rel="external">
          <i class="fa-brands fa-linkedin fa-xl"></i>
        </a>
        <a href="https://www.instagram.com/diffuze.immo/" target="_blank" rel="external">
          <i class="fa-brands fa-instagram fa-xl"></i>
        </a>
      </div>
  </aside>
  <div class="">
    <p class="font-paytone font-bold text-lg">Notre Offre</p>
    <a  routerLink="/notre-offre">Détail de l'offre</a>
    <a
          href="https://www.app.diffuze.fr"
    target="_blank"
    rel="external"
    >Déposer une annonce</a>
  </div>
  <div class="">
    <p class="font-paytone font-bold text-lg">Ressources</p>
    <a  routerLink="/blog">Le Blog</a>
    <a  href="https://app.lemcal.com/@diffuze/15min" target="_blank" rel='external' >Prendre rendez-vous</a>
  </div>
  <div class="">
    <p class="font-paytone font-bold text-lg">Information Légales</p>
    <a  routerLink="/protection-des-donnees" >Politique de confidentialité</a>
    <a  routerLink="/conditions-generales">Mentions légales et Conditions générales de ventes</a>
  </div>


</footer>
