<div
  class="lg:fixed z-50 isset-0 navbar bg-white text-mygrey1 font-open py-3 w-full"
>
  <div class="flex-none lg:hidden">
    <label
      for="my-drawer-3"
      aria-label="open sidebar"
      class="btn btn-square btn-ghost"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-6 w-6 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </label>
  </div>

  <div class="flex w-full items-center justify-between gap-2 px-2 mx-2">
    <a routerLink="/" class="font-paytone text-4xl font-extrabold"
      >DZ<span class="text-myyellow1">.</span></a
    >

    <!-- Coupon -->
    <div
      class="relative hidden sm:block lg:hidden bg-gray-400 px-5 p-2 h-[60px] w-[150px] rounded-lg mx-1"
    >
      <span
        class="absolute left-0 transforme -translate-x-[50%] -translate-y-[50%] top-1/2 h-[20px] w-[20px] rounded-full bg-white"
      ></span>
      <span
        class="absolute right-0 transforme translate-x-[50%] -translate-y-[50%] top-1/2 h-[20px] w-[20px] rounded-full bg-white"
      ></span>
      <div class="flex justify-between">
        <p class="font-semibold text-white text-lg">-50 %</p>
        <p class="font-semibold text-myyellow1 text-lg">DIF50</p>
      </div>
      <p class="text-[9px] whitespace-nowrap text-white">
        Sur votre 1ère commande
      </p>
    </div>

    <div
      class="lg:order-2 flex items-center justify-center gap-2 md:gap-4 lg:gap-2 xl:gap-6"
    >
      <a
        href="http://www.app.diffuze.fr"
        target="_blank"
        rel="external"
        class="bg-myyellow1 text-center text-mygrey1 rounded-full px-4 py-3 font-semibold text-sm hover:bg-myyellow2 transition-all transition-300"
        >Déposer une annonce</a
      >
      <a
        href="https://app.lemcal.com/@diffuze/15min"
        target="_blank"
        rel="external"
        class="hidden lg:block bg-mygrey2 text-white rounded-full px-4 py-3 font-semibold text-sm hover:bg-mygrey3 transition-all transition-300"
        >Prendre rendez-vous</a
      >
      <a
        href="https://app.lemcal.com/@diffuze/15min"
        target="_blank"
        rel="external"
        ><img
          src="assets/img/icon/phone.png"
          class="lg:hidden h-auto w-[25px] cursor-pointer"
          alt=""
      /></a>
      <a
        href="http://www.app.diffuze.fr/register"
        target="_blank"
        rel="external"
        ><img
          src="assets/img/icon/user.png"
          class="h-auto w-[25px] cursor-pointer"
          alt=""
      /></a>
    </div>

    <div
      class="hidden lg:flex flex-1 w-full items-center justify-between mr-2 xl:mr-20"
    >
      <ul class="menu menu-horizontal font-semibold">
        <!-- Navbar menu content here -->
        <li><a routerLink="/service">Notre Offre</a></li>
        <li><a routerLink="/review">Nos Partenaires</a></li>
        <li><a routerLink="/blog">Le Blog</a></li>
      </ul>

      <!-- Coupon -->
      <div
        class="relative hidden lg:block bg-gray-400 px-5 p-2 h-[60px] w-[150px] rounded-lg xl:mr-10"
      >
        <span
          class="absolute left-0 transforme -translate-x-[50%] -translate-y-[50%] top-1/2 h-[20px] w-[20px] rounded-full bg-white"
        ></span>
        <span
          class="absolute right-0 transforme translate-x-[50%] -translate-y-[50%] top-1/2 h-[20px] w-[20px] rounded-full bg-white"
        ></span>
        <div class="flex justify-between">
          <p class="font-semibold text-white text-lg">-50 %</p>
          <p class="font-semibold text-myyellow1 text-lg">DIF50</p>
        </div>
        <p class="text-[9px] whitespace-nowrap text-white">
          Sur votre 1ère commande
        </p>
      </div>
    </div>
  </div>
</div>
