<div class=" lg:fixed z-50 isset-0 navbar bg-white text-mygrey1 font-open py-3 w-full">
  <div class="flex-none lg:hidden">
    <label
      for="my-drawer-3"
      aria-label="open sidebar"
      class="btn btn-square btn-ghost"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-6 w-6 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </label>
  </div>

  <div class="flex w-full items-center justify-between gap-2 px-2 mx-2">
    <a routerLink="/" class="font-paytone text-4xl font-extrabold">DZ<span class="text-myyellow1">.</span></a>
 
    <div class="lg:order-2 flex items-center justify-center gap-2 md:gap-4 lg:gap-6">
      <button (click)="navigateTo('')" class=" bg-myyellow1 text-mygrey1 rounded-full px-4 py-3 font-semibold text-sm hover:bg-myyellow2 transition-all transition-300">Déposer une annonce</button>
      <button (click)="navigateTo('')"  class="hidden lg:block bg-mygrey2 text-white rounded-full px-4 py-3 font-semibold text-sm hover:bg-mygrey3 transition-all transition-300">Prendre rendez-vous</button>
      <img (click)="navigateTo('auth/login')" src="assets/img/icon/phone.png" class="lg:hidden h-[25px] w-auto cursor-pointer" alt="">
      <img (click)="navigateTo('auth/login')" src="assets/img/icon/user.png" class="h-[25px] w-auto cursor-pointer" alt="">
    </div>

    <div class="hidden lg:flex flex-1 w-full items-center justify-between">
      <ul class="menu menu-horizontal font-semibold">
        <!-- Navbar menu content here -->
        <li><a routerLink="/service" >Notre Offre</a></li>
        <li><a routerLink="/review">Les Avis</a></li>
        <li><a routerLink="/blog">Le Blog</a></li>
      </ul>  
    </div>

  </div>




</div>
