<div
  class="min-h-screen bg-gray-50 flex flex-col items-start font-open text-mygrey1"
>
  <div class="relative pt-32 w-full px-8">
    <div
      class="z-10 absolute top-8 left-8 md:top-14 md:left-14 flex items-center justify-center gap-2 border border-mygrey2 hover:bg-mygrey4 transition duration-300 text-mygrey1 text-sm px-4 py-2 rounded-full"
    >
      <img src="assets/img/icon/arrow-black.png" class="w-5" alt="" />
      <a [routerLink]="['/annonces']" class="whitespace-nowrap"
        >Retour aux annonces</a
      >
    </div>
    <h1 class="text-2xl font-semibold font-raleway">Titre de l'annonce</h1>
  </div>
</div>
