<!-- Main modal -->
<dialog
  #modal
  class="modal z-20! rounded-2xl px-4"
  id="default-modal rounded-lg"
  tabindex="-1"
>
  <div
    class="relative bg-white md:w-2/3 h-2/3 overflow-scroll rounded-lg shadow-sm"
  >
    <form [formGroup]="alertForm" (ngSubmit)="onSubmitAlert()">
      <!-- Modal header -->
      <div
        class="top-0 left-0 right-0 bg-myyellow1 z-10 flex items-center justify-center gap-4 p-4 border-b border-gray-200"
      >
        <img src="assets/img/icon/bell-plus.png" class="w-6 h-auto" alt="" />
        <h3 class="text-xl font-semibold text-gray-900">Créez une alerte</h3>

        <button
          (click)="closeModal()"
          type="button"
          class="absolute right-2 top-2 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="default-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal content -->
      <div>
        <!-- Modal body -->
        <div class="p-10 flex flex-col gap-8">
          <!-- Location -->
          <section>
            <label for="location" class="text-lg font-semibold mb-4"
              >Location</label
            >
            <div
              #alertLocationContainer
              class="relative flex flex-col items-start justify-center gap-4 w-full"
            >
              <input
                #alerttext
                type="text"
                name="location"
                id="location"
                class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 border-none focus:ring-1 focus:ring-myyellow1 focus:outline-none select-none"
                placeholder="Choisissez la ville"
                required=""
              />
              <div
                *ngIf="this.alertForm.get('locations')?.value.length > 0"
                class="z-20 flex items-center justify-start gap-4"
              >
                <div
                  class="p-1 px-2 border border-mygrey3 rounded-lg flex items-center justify-center gap-2"
                  *ngFor="
                    let location of this.alertForm.get('locations')?.value;
                    let i = index
                  "
                >
                  <p>{{ location }}</p>
                  <button class="ml-2" (click)="removeLocationInForm(i)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </section>
          <!-- Budget -->
          <section id="budget" class="">
            <p class="text-lg font-semibold mb-4">Budget</p>
            <div class="flex items-center justify-start gap-4 w-full">
              <div class="flex-1">
                <label class="whitespace-nowrap block mb-2" for="minPrice"
                  >Budget Minimum :
                </label>
                <input
                  formControlName="minPrice"
                  type="number"
                  id="budget"
                  class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 border-none focus:ring-1 focus:ring-myyellow1 focus:outline-none select-none"
                  placeholder="Votre buget minimum (en €)"
                  required=""
                />
              </div>
              <div class="flex-1">
                <label class="whitespace-nowrap block mb-2" for="maxPrice"
                  >Budget Maximum :
                </label>
                <input
                  formControlName="maxPrice"
                  type="number"
                  id="budget"
                  class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 border-none focus:ring-1 focus:ring-myyellow1 focus:outline-none select-none"
                  placeholder="Votre buget maximum (en €)"
                  required=""
                />
              </div>
            </div>
          </section>
          <!-- Surface  -->
          <section id="surface" class="">
            <p class="text-lg font-semibold mb-4">Surface</p>
            <div class="flex items-center justify-start gap-4 w-full">
              <div class="flex-1">
                <label class="whitespace-nowrap block mb-2" for="minSurface"
                  >Surface Minimum :
                </label>
                <div class="relative flex items-stretch">
                  <input
                    formControlName="minSurface"
                    type="number"
                    placeholder="Surface minimum"
                    class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 border-none focus:ring-1 focus:ring-myyellow1 focus:outline-none select-none"
                  />
                  <span
                    class="absolute text-zinc-600 right-6 top-2 font-semibold text-sm"
                    >m²</span
                  >
                </div>
              </div>
              <div class="flex-1">
                <label class="whitespace-nowrap block mb-2" for="maxSurface"
                  >Surface Maximum :
                </label>
                <div class="relative flex items-stretch">
                  <input
                    formControlName="maxSurface"
                    type="number"
                    placeholder="Surface maximum"
                    class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 border-none focus:ring-1 focus:ring-myyellow1 focus:outline-none select-none"
                  />
                  <span
                    class="absolute text-zinc-600 right-6 top-2 font-semibold text-sm"
                    >m²</span
                  >
                </div>
              </div>
            </div>
          </section>

          <!-- Rooms and bedrooms -->
          <section id="rooms">
            <p class="text-lg font-semibold mb-4">Chambres et pièces</p>
            <div class="flex flex-col gap-4">
              <div class="flex items-center justify-between w-full">
                <p>Nombre de pièces</p>
                <div class="flex items-center gap-4 mt-2 rounded-lg px-4 py-2">
                  <button
                    type="button"
                    (click)="decrementRooms()"
                    [disabled]="alertForm.get('room')?.value <= 1"
                    class="p-2 bg-gray-200 rounded-full w-8 h-8 flex items-center justify-center disabled:opacity-50"
                  >
                    <i class="fa-solid fa-minus"></i>
                  </button>

                  <span class="text-lg font-semibold">{{
                    alertForm.get("room")?.value
                  }}</span>

                  <button
                    type="button"
                    (click)="incrementRooms()"
                    [disabled]="alertForm.get('room')?.value >= 5"
                    class="p-2 bg-gray-200 rounded-full w-8 h-8 flex items-center justify-center"
                  >
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
              </div>
              <div class="flex items-center justify-between w-full">
                <p>Nombre de chambre</p>
                <div class="flex items-center gap-4 mt-2 rounded-lg px-4 py-2">
                  <button
                    (click)="decrementBedrooms()"
                    [disabled]="alertForm.get('bedroom')?.value <= 1"
                    class="p-2 bg-gray-200 rounded-full w-8 h-8 flex items-center justify-center disabled:opacity-50"
                  >
                    <i class="fa-solid fa-minus"></i>
                  </button>

                  <span class="text-lg font-semibold">{{
                    alertForm.get("bedroom")?.value
                  }}</span>

                  <button
                    (click)="incrementBedrooms()"
                    [disabled]="alertForm.get('bedroom')?.value >= 5"
                    class="p-2 bg-gray-200 rounded-full w-8 h-8 flex items-center justify-center"
                  >
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </section>

          <!-- Property type -->
          <section id="type">
            <p class="text-lg font-semibold mb-4">Type de logements</p>
            <div class="flex items-center gap-4">
              <label
                [ngClass]="{
                  'p-4 border border-mygrey3 rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
                  'border-2 border-black':
                    this.alertForm.get('propertyType')?.value === 'maison'
                }"
              >
                <input
                  formControlName="propertyType"
                  type="radio"
                  class="hidden"
                  value="maison"
                />
                <i class="fa-solid fa-house"></i> Maison
              </label>

              <label
                [ngClass]="{
                  'p-4 border border-mygrey3 rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
                     }"
              >
                <input
                  formControlName="propertyType"
                  type="radio"
                  class="hidden"
                  value="appartement"
                />
                <i class="fa-solid fa-building"></i> Appartement
              </label>

              <label
                [ngClass]="{
                  'p-4 border border-mygrey3 rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
                  'border-2 border-black':
                    this.alertForm.get('propertyType')?.value === 'loft'
                }"
              >
                <input type="radio" class="hidden" name="type" value="loft" />
                <i class="fa-solid fa-warehouse"></i> Loft
              </label>
            </div>
          </section>

          <!-- Autre critères -->
          <section id="advantages">
            <p class="text-lg font-semibold mb-4">
              Avantages et infrastructures
            </p>

            <div formGroupName="advantages" class="flex items-center gap-4">
              <label
                [ngClass]="{
                  'p-4 border rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
                  'border-mygrey3': !this.alertForm.get(
                    'advantages.has_parking'
                  )?.value,
                  'border-2 border-black': this.alertForm.get(
                    'advantages.has_parking'
                  )?.value
                }"
              >
                <input
                  formControlName="has_parking"
                  type="checkbox"
                  class="hidden"
                />
                <i class="fa-solid fa-square-parking"></i> Parking
              </label>

              <label
                [ngClass]="{
                  'p-4 border rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
                  'border-mygrey3': !this.alertForm.get('advantages.has_cellar')
                    ?.value,
                  'border-2 border-black': this.alertForm.get(
                    'advantages.has_cellar'
                  )?.value
                }"
              >
                <input
                  formControlName="has_cellar"
                  type="checkbox"
                  class="hidden"
                />
                <i class="fa-solid fa-box-archive"></i>
                Cave
              </label>

              <label
                [ngClass]="{
                  'p-4 border rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
                  'border-mygrey3': !this.alertForm.get(
                    'advantages.has_elevator'
                  )?.value,
                  'border-2 border-black': this.alertForm.get(
                    'advantages.has_elevator'
                  )?.value
                }"
              >
                <input
                  formControlName="has_elevator"
                  type="checkbox"
                  class="hidden"
                />
                <i class="fa-solid fa-elevator"></i> Ascenseur
              </label>
              <label
                [ngClass]="{
                  'p-4 border rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
                  'border-mygrey3': !this.alertForm.get(
                    'advantages.has_balcony'
                  )?.value,
                  'border-2 border-black': this.alertForm.get(
                    'advantages.has_balcony'
                  )?.value
                }"
              >
                <input
                  formControlName="has_balcony"
                  type="checkbox"
                  class="hidden"
                />
                <i class="fa-solid fa-tree-city"></i> Balcon
              </label>
              <label
                [ngClass]="{
                  'p-4 border rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
                  'border-mygrey3': !this.alertForm.get(
                    'advantages.has_terrace'
                  )?.value,
                  'border-2 border-black': this.alertForm.get(
                    'advantages.has_terrace'
                  )?.value
                }"
              >
                <input
                  formControlName="has_terrace"
                  type="checkbox"
                  class="hidden"
                />
                <i class="fa-solid fa-sun"></i> Terrasse
              </label>
              <label
                [ngClass]="{
                  'p-4 border rounded-2xl hover:border-black hover:border-2 cursor-pointer': true,
                  'border-mygrey3':
                    !this.alertForm.get('advantages.has_box')?.value,
                  'border-2 border-black':
                    this.alertForm.get('advantages.has_box')?.value
                }"
              >
                <input
                  formControlName="has_box"
                  type="checkbox"
                  class="hidden"
                />
                <i class="fa-solid fa-warehouse"></i> Box
              </label>
            </div>
          </section>

          <hr class="w-full m-auto my-5" />

          <!-- User Information -->
          <section id="information">
            <p class="text-lg font-semibold mb-4">
              Vos informations personnelles
            </p>
            <div class="grid grid-cols-2 justify-start gap-4 w-full">
              <div class="flex-1">
                <label class="whitespace-nowrap block mb-2" for="lastName"
                  >Nom <span class="required">*</span> :
                </label>
                <input
                  formControlName="lastName"
                  type="text"
                  id="lastName"
                  class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 border-none focus:ring-1 focus:ring-myyellow1 focus:outline-none select-none"
                  placeholder="Votre nom"
                />
                <p
                  class="error"
                  *ngIf="
                    submitted && alertForm.get('lastName')?.hasError('required')
                  "
                >
                  Le nom est requis.
                </p>
              </div>
              <div class="flex-1">
                <label class="whitespace-nowrap block mb-2" for="firstName"
                  >Prénom :<span class="required">*</span>
                </label>
                <input
                  formControlName="firstName"
                  type="text"
                  id="firstName"
                  class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 border-none focus:ring-1 focus:ring-myyellow1 focus:outline-none select-none"
                  placeholder="Votre prénom"
                />
                <p
                  class="error"
                  *ngIf="
                    submitted && alertForm.get('lastName')?.hasError('required')
                  "
                >
                  Le prénom est requis.
                </p>
              </div>
              <div class="flex-1">
                <label class="whitespace-nowrap block mb-2" for="budget"
                  >Téléphone : <span class="required">*</span>
                </label>
                <input
                  formControlName="phone"
                  type="number"
                  id="phone"
                  class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 border-none focus:ring-1 focus:ring-myyellow1 focus:outline-none select-none"
                  placeholder="Votre numéro de téléphone"
                  required=""
                />
                <p
                  class="error"
                  *ngIf="
                    submitted && alertForm.get('lastName')?.hasError('required')
                  "
                >
                  Le téléphone est requis.
                </p>
              </div>
              <div class="flex-1">
                <label class="whitespace-nowrap block mb-2" for="budget"
                  >Email<span class="required">*</span> :
                </label>
                <input
                  formControlName="email"
                  type="email"
                  id="email"
                  class="bg-zinc-100 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 border-none focus:ring-1 focus:ring-myyellow1 focus:outline-none select-none"
                  placeholder="Votre email"
                />
                <p
                  class="error"
                  *ngIf="
                    submitted && alertForm.get('email')?.hasError('required')
                  "
                >
                  L'email est requis.
                </p>
                <p
                  class="error"
                  *ngIf="submitted && alertForm.get('email')?.hasError('email')"
                >
                  L'email n'est pas valide.
                </p>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- Modal footer -->
      <div
        class="sticky top-0 left-0 right-0 bg-white z-10 flex items-center justify-between p-4 border-b border-gray-200"
      >
        <div class="flex items-center justify-between w-full">
          <button
            type="button"
            (click)="resetForm()"
            class="rounded-lg p-4 hover:bg-zinc-100 font-semibold"
          >
            Effacer les filtres
          </button>
          <button
            type="submit"
            class="rounded-lg p-4 text-mygrey1 bg-myyellow1 font-semibold hover:bg-myyellow2"
          >
            Créer une alerte
          </button>
        </div>
      </div>
    </form>
  </div>
</dialog>
