<div
  [ngClass]="{
    'h-auto rounded-xl bg-white cursor-pointer m-auto mb-10 shadow-lg transform transition ease-in-out hover:translate-y-[-4px] hover:shadow-xl': true,
    'w-[350px] max-w-[400px]': !smallCard,
    'transform scale-[70%]': smallCard
  }"
>
  <div #carousel class="carousel rounded-t w-full">
    <div
      *ngFor="let image of property.media?.images"
      class="carousel-item w-full"
    >
      <img
        [id]="'photo' + property.id"
        [src]="baseUrl + image.photo_path"
        class="rounded-t-xl h-[250px] w-full object-cover"
        alt=""
      />
      <div
        class="absolute h-[250px] inset-0 top-0 flex justify-between items-center pointer-events-none"
      >
        <button
          [ngClass]="{
            'pointer-events-auto border-none group': true,
            'opacity-0': isCarouselStart
          }"
          (click)="prevSlide()"
        >
          <svg
            class="transition-all duration-300 stroke-white"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M15 18l-6-6 6-6" />
          </svg>
        </button>
        <button
          [ngClass]="{
            'pointer-events-auto border-none': true,
            'opacity-0': isCarouselEnd
          }"
          (click)="nextSlide()"
        >
          <svg
            class="transition-all stroke-white duration-300"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M9 18l6-6-6-6" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="p-5 flex flex-col items-start gap-2 text-sm">
    <p class="text-mygrey3 font-light">
      {{ property.property_type | titlecase }}
      <span *ngIf="property.transaction_type === 'selling'">en vente</span>
      <span *ngIf="property.transaction_type === 'renting'">en location</span>
    </p>
    <p class="font-raleway font-extrabold text-mygrey1">
      {{ property.addressForm.city }}
    </p>
    <p class="">{{ property.addressForm.zip_code }}</p>
    <div class="flex items-center justify-start gap-2">
      <p>{{ property.living_space }} m²</p>
      <p>{{ property.room }} pièces</p>
      <!-- <p>
        {{
          property.floor !== null ? property.floor + "e étage" : ""
        }}
      </p> -->
    </div>
  </div>
  <div
    *ngIf="property.transaction_type === 'selling'"
    class="px-5 py-2 flex flex-col items-center justify-center bg-mygrey2 rounded-b-xl"
  >
    <p class="text-lg font-bold text-white">
      {{ selling_price_number | currency : "EUR" : "symbol" : "1.0-0" }}
    </p>
    <p class="text-sm font-light text-myyellow1">
      {{ surface_price | currency : "EUR" : "symbol" : "1.0-0" }} / m²
    </p>
  </div>
  <div
    *ngIf="property.transaction_type === 'renting'"
    class="p-5 flex items-center justify-center bg-mygrey2 rounded-b-xl"
  >
    <p class="text-lg font-bold text-white">
      {{ property.rent_by_month | currency : "EUR" : "symbol" : "1.0-0" }}
      <span class="text-sm font-light text-myyellow1">/ mois</span>
    </p>
  </div>
</div>
