<div (click)="navigateTo()" class="h-auto rounded-xl bg-white cursor-pointer m-auto mb-10 shadow-lg transform transition ease-in-out hover:translate-y-[-4px] hover:shadow-xl">
    <img [src]="image" class="rounded-t-xl" alt="">
    <div class="p-5 flex flex-col items-start gap-2 text-sm">
      <p class="text-mygrey3 font-light">{{property_type}}</p>
      <p class="font-raleway font-extrabold">{{city}}</p>
      <p class="">{{street}}</p>
      <div class="flex items-center justify-start gap-2 ">
        <p>{{living_space}} m²</p>
        <p>{{room}} pièces</p>
        <p>{{floor}}e étage</p>
      </div>
    </div>
    <div class="px-5 py-2 flex flex-col items-center justify-center bg-mygrey2 rounded-b-xl">
      <p class="text-lg font-bold text-white">{{formatted_price}} €</p>
      <p class="text-sm font-light text-myyellow1">{{formatted_surface_price}} € / m²</p>
    </div>