<div
  class="min-h-screen bg-zinc-100 flex flex-col items-center font-open text-mygrey1 overflow-x-hidden"
>
  <!-- Hero -->
  <div
    class="relative h-[500px] w-full flex items-center justify-center pb-16 text-white mb-10"
  >
    <img
      ngSrc="assets/img/photo/photo5.jpg"
      fill
      priority
      class="w-full h-full object-cover"
      alt="DiffuZe, diffusion d'annonces immobilières"
    />
    <div class=" bg-black opacity-55 absolute inset-0 w-full h-full"></div>
    <span
      class="absolute z-10 h-[120px] transform translate-y-2 w-[120%] -rotate-3 -bottom-10 bg-zinc-100"
    ></span>

    <div
      class="z-10 absolute top-8 left-8 md:top-14 md:left-14 flex items-center justify-center gap-2 bg-myyellow1 hover:bg-myyellow2 transition duration-300 text-mygrey1 text-sm px-4 py-2 rounded-full"
    >
      <img src="assets/img/icon/arrow-black.png" class="w-5" alt="" />
      <a [routerLink]="['/blog']" class="whitespace-nowrap"
        >Retour aux catégories</a
      >
    </div>
    <div class="z-10 flex flex-col items-center">
      <h1
        class="text-2xl md:text-5xl font-bold font-raleway text-center max-w-[600px] mb-12"
      >
        {{ type.type }}
      </h1>

      <p
        class="z-20 text-lg font-semibold md:text-xl leading-relaxed md:w-3/4 text-center"
        *ngIf="type.id === 1"
      >
        Les dernières tendances, conseils et analyses du marché
      </p>
      <p
        class="z-10 text-lg md:text-xl leading-relaxed md:w-3/4 text-center"
        *ngIf="type.id === 2"
      >
        Les plateformes et professionnels qui façonnent le marché
      </p>
      <p
        class="z-10 text-lg md:text-xl leading-relaxed md:w-3/4 text-center"
        *ngIf="type.id === 3"
      >
        Les dernières actualités sur l'immobilier
      </p>
    </div>
  </div>

  <!-- First article -->
  <div
  *ngIf="articles[0]"
    class="z-10 relative mb-24 w-3/4 max-w-[800px] h-[400px] lg:h-[450px] rounded-2xl shadow-md"
  >
    <img
      [src]="env.publicURL + articles[0]?.article_preview"
      class="absolute bottom-[175px] md:bottom-0 w-full h-auto md:h-full object-cover rounded-t-2xl md:rounded-2xl"
    />
    <div
      class="absolute bottom-0 w-full h-[175px] md:h-[130px] bg-white opacity-90 backdrop-blur-lg rounded-b-2xl"
    ></div>
    <div
      class="px-8 absolute bottom-0 w-full h-[175px] md:h-[130px] flex flex-col gap-2 items-start justify-center rounded-2xl"
    >
      <a
        [routerLink]="['/blog', articles[0]?.url]"
        class="cursor-pointer font-bold text:lg md:text-xl text-mygrey1"
        >{{ articles[0]?.article_title }}</a
      >
      <div class="flex items-center gap-5 md:gap-10">
        <div class="flex items-center gap-3">
          <div
            class="h-10 w-10 p-2 flex-shrink-0 flex items-center justify-center rounded-full bg-myyellow1"
          >
            <img
              src="assets/img/icon/victor.png"
              class="object-contain"
              alt=""
            />
          </div>
          <p class="text-sm">Victor, expert en immobilier</p>
        </div>
        <div class="flex items-center text-mygrey2 text-sm justify-start gap-2">
          <img src="assets/img/icon/calender.png" class="h-5" alt="" />
          {{ articles[0].update_date | date : "longDate" : "" : "fr-FR" }}
          <p>•</p>
          <p>{{ articles[0].reading_time }} min</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Articles List -->
  <div
    class="mb-24 m-auto max-w-[1000px] grid md:grid-cols-2 gap-10 lg:grid-cols-3 lg:gap-40 px-8"
  >
    <app-article-card
      *ngFor="let article of articles | slice : 1"
      [article]="article"
    ></app-article-card>
  </div>
</div>
