<div class="h-auto max-w-[400px] rounded-xl bg-white before:cursor-pointer m-auto mb-10 shadow-md">
    <div class="px-5 py-4 flex flex-col items-center justify-center bg-mygrey2 rounded-t-xl">
        <p class="text-lg font-bold text-white">{{client}}</p>
      </div>
    <div class="relative p-8 flex flex-col items-start justify-start gap-2 text-sm">
      <img src="assets/img/icon/etoiles.png" class="w-[100px] self-end py-2" alt="">
      <p class="absolute left-5 top-20 text-[160px] font-paytone text-mygrey3 opacity-10">“</p>
      <p class="text-justify">{{review}}</p>
    </div>
  </div>