<div class="drawer">
  <input #drawerCheckbox id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col bg-gray-100">
    <!-- <div class="container mx-auto"> -->
    <div class="w-full mx-auto">
      <!-- Navbar -->
      <app-navbar></app-navbar>
      <!-- Page content here -->
      <main class="min-h-screen bg-gray-200 lg:pt-[68px]">
        <router-outlet></router-outlet>
      </main>

      <app-footer></app-footer>
    </div>
    <app-cookie-consent></app-cookie-consent>
  </div>
  <div class="drawer-side z-50">
    <label
      for="my-drawer-3"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>

    <ul
      class="menu bg-mygrey1 min-h-full md:w-80 p-4 text-lg text-mygrey4 flex flex-col gap-4 items-start justify-start md:justify-start"
    >
      <!-- Coupon -->
      <div
        class="relative block sm:hidden bg-zinc-200 px-5 p-2 h-[60px] w-[160px] rounded-lg xl:mr-10"
      >
        <span
          class="absolute left-0 transforme -translate-x-[50%] -translate-y-[50%] top-1/2 h-[20px] w-[20px] rounded-full bg-mygrey1"
        ></span>
        <span
          class="absolute right-0 transforme translate-x-[50%] -translate-y-[50%] top-1/2 h-[20px] w-[20px] rounded-full bg-mygrey1"
        ></span>
        <div class="flex justify-between">
          <p class="font-semibold text-mygrey1 text-xl whitespace-nowrap">-50 %</p>
          <p class="font-extrabold text-yellow-500 text-xl whitespace-nowrap">DIF50</p>
        </div>
        <p class="text-[9px] whitespace-nowrap text-mygrey1">
          Sur votre 1ère commande
        </p>
      </div>

      <!-- Sidebar content here -->
      <li>
        <div class="flex items-center"><img src="assets/img/icon/emoji-speaker.png" class="w-[18px]"/>
        <a (click)="closeDrawer()" routerLink="/notre-offre">Notre Offre</a>
        </div>
      </li>
      <li>
        <div class="flex items-center"><img src="assets/img/icon/emoji-client.png" class="w-[18px]"/>
        <a (click)="closeDrawer()" routerLink="/nos-partenaires">Nos Partenaires</a>
        </div>
      </li>
      <li>
        <div class="flex items-center"><img src="assets/img/icon/emoji-pencil.png" class="w-[18px]"/>
        <a (click)="closeDrawer()" routerLink="/blog">Le Blog</a>
        </div>
      <li>
        <div class="flex items-center"><img src="assets/img/icon/emoji-login.png" class="w-[18px]"/>
        <a href="http://www.app.diffuze.fr" target="_blank" rel="external"
          >Espace personnel</a
        >
        </div>
      </li>
      <a
        (click)="closeDrawer()"
        href="http://www.app.diffuze.fr"
        target="_blank"
        rel="external"
        class="bg-mygrey5 text-mygrey1 rounded-full py-4 text-center w-[300px] md:w-[280px]"
        >Déposer une annonce</a
      >
      <a
        (click)="closeDrawer()"
        href="https://app.lemcal.com/@diffuze/15min"
        target="_blank"
        rel="external"
        class="bg-myyellow1 text-mygrey1 rounded-full py-4 text-center w-[300px] md:w-[280px]"
        >Prendre rendez-vous</a
      >
    </ul>
  </div>
</div>
