<!--  Card -->
<a [routerLink]="['/blog', article.url]" class="block">
  <div
    [ngClass]="{
      'h-full w-[280px] md:w-[320px]  cursor-pointer border border-zinc-100 rounded-xl m-auto': true,
      'bg-zinc-100': bg === 'mygrey5',
      'bg-white': bg === 'white'
    }"
  >
    <div class="rounded-t-xl h-[200px] w-full bg-white p-2 ">
      <img
        [src]="env.publicURL + article.article_preview"
        class="rounded-t-xl w-full h-full bg-white object-cover"
        alt=""
      />
    </div>

    <div
      class="h-[225px] md:h-[200px] rounded-b-xl p-5 flex flex-col items-start justify-between gap-2 text-mygrey1"
    >
      <p class="font-raleway text-lg font-bold">
        {{ article.article_title }}
      </p>
      <div class="flex items-center justify-start gap-3">
        <div
          class="h-10 w-10 p-1 flex items-center justify-center rounded-full bg-myyellow1"
        >
          <img src="assets/img/icon/victor.png" class="object-contain" alt="" />
        </div>
        <div class="font-light flex-col items-center justify-start">
          <p class="text-[10px]">{{ article.author }}</p>
          <div class="flex items-center text-mygrey2 text-[10px] gap-2">
            <p>{{ article.update_date | date : "longDate" : "" : "fr-FR" }}</p>
            <p>•</p>
            <p>{{ article.reading_time }} min</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
